@model CvSitesiDeneme.Models.Education

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Education</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StopDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StopDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsContinue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsContinue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departmant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departmant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
